* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor001: #ffffff;
    --cor002: #d6e2f0;
    --cor003: #7b879d;
    --cor004: #1f3251;
}

body{
    background-color: var(--cor002);
    padding: 15px;
}
div.container {
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: auto;
    padding: 5px;
    width: 356px;
    height: 621px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}
div.conteudo#img {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    border-radius: 2rem;
    width: 90%;
    height: 55%;
}
.conteudo img {
    border-radius: 20px;
}
div.conteudo#text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    border-radius: 2rem;
    margin: 5px;
    padding: 10px;
    width: 90%;
    height: 40%;
}
.conteudo#text h1{
    color: var(--cor004);
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
}
.conteudo#text p{
    color: var(--cor003);
    font-weight: bold;
    text-align: center;
    font-size: 12pt;
    margin-top: 20px;
}
.conteudo#text button {
    display: flex;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    width: 40%;
    justify-content: center;  
    padding: 5px;
    background-color: var(--cor004); 
    color: white;
    cursor: pointer; 

}
.conteudo#text button:hover {
    display: flex;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    width: 45%;
    justify-content: center;  
    padding: 10px;
    background-color: var(--cor004); 
    color: white;
    cursor: pointer; 
    transition: all 0.2s ease;
    
}